<a href="https://colab.research.google.com/github/Sonchecho/DataScience300/blob/main/clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**

Para manejar un codigo limpio en pytho, vamos a seguir las siguientes recomendacione:
1. usar simepre minusculas 
2. se le puede añadir numero 
3. aparecera error si no estan seguidos la declaracion de la varialble con el numero asignado, es decir: checho1(corrector) checho 1 (error-incorrecto).

en python hay varios tipos de datos compuestos y estan disponibles por defectos en los interpretes : 
**¿de que tipos?
1. numericos 
2. secuencia 
3. mapeo 
4. cojunto usados para agrupar otros valores.

**Diferencia entre constantes y variables **
En matematicas llamamos contante a una magnitud que no cambia con el paso del tiempo.
Ejemplo de contabilidad: gasto fijo de muebles de la oficina 
Ejemplo 2: 6

Por otro lado, el concepto de variable, tomaremos la definicion como la cantidad que es susceptible a tomar distintos valores numericos.

Ejemplos:

El comando int es para hacer alucion a numereros entero. A parte el comando float, permite valores con decimales.

In [4]:
sa=float(4.567)
print(sa, type(sa))

4.567 <class 'float'>

**Tipo Cadena**
Las cadenas son textos encerrado entre comillas(simples o dobles) y se pueden conformar de diferentes caracteres (numerico, alfavetico,espciales #%$). Nota: Se puede usar el operador de suma

In [5]:
w="Mi computador es asus"
print(w)

Mi computador es asus

In [10]:
n="1"
z="1"
dr=n+z
print(dr, type(dr))

f=56
d=34
print(f-d)

11 <class 'str'>
22

**Tipo Boolenos** Este tipo de variable solo tendra un valor de verdadero o falso. Nota: Son valores muy usados en condicionales y bucles

In [19]:
ricardo=True
print("El valor es verdadero:",ricardo,",el cual es de tipo", type(ricardo) )

El valor es verdadero: True ,el cual es de tipo <class 'bool'>

**Productos**

In [25]:
motos_0={}
motos_0['tam']='medio'
motos_0['marca']='suzuki'
motos_0['color']='verde'
motos_0['cilindraje']=125
motos_0['precio']=20


motos_1={}
motos_1['tam']='pequeña'
motos_1['marca']='yamaha'
motos_1['color']='negra'
motos_1['cilindraje']=110
motos_1['precio']=15

motos_2={}
motos_2['tam']='pequeña'
motos_2['marca']='kawasaki'
motos_2['color']='roja'
motos_2['cilindraje']=750
motos_2['precio']=50

print(motos_0)
print(motos_1)
print(motos_2)



compra0=motos_0['precio']
compra1=motos_1['precio']
compra2=motos_2['precio']
compratotal=compra0+compra1+compra2
print("la compra total fue de:",compratotal)

{'tam': 'medio', 'marca': 'suzuki', 'color': 'verde', 'cilindraje': 125, 'precio': 20}
{'tam': 'pequeña', 'marca': 'yamaha', 'color': 'negra', 'cilindraje': 110, 'precio': 15}
{'tam': 'pequeña', 'marca': 'kawasaki', 'color': 'roja', 'cilindraje': 750, 'precio': 50}
la compra total fue de: 85